.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.none {
    display: none !important;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
